= drink.name
= button_to t('.edit'), edit_admin_drink_path(drink), class: 'btn btn-secondary', method: :get
= button_to t('defaults.destroy'), admin_drink_path(drink), class: 'btn btn-secondary', method: :delete