= prefecture.name
= button_to t('.edit'), edit_admin_prefecture_path(prefecture), class: 'btn btn-secondary', method: :get
= button_to t('defaults.destroy'), admin_prefecture_path(prefecture), class: 'btn btn-secondary', method: :delete