= ration.name
= button_to t('.edit'), edit_admin_ration_path(ration), class: 'btn btn-secondary', method: :get
= button_to t('defaults.destroy'), admin_ration_path(ration), class: 'btn btn-secondary', method: :delete