p = @memo.date

= @memo.course.mountain.name
br
= @memo.course.name
br
= @memo.temperature
br
= @memo.description
br
= @memo.done
= form_with model: @memo, local: true do |f|
  = f.check_box :done, {}, "done", "not_done"
  = f.submit "更新"
br
= link_to 'コースの編集', edit_memo_path(@memo)
br
- if @portable_foods.present?
  = render "memos/portable_food", collection: @portable_foods
- else
  p t('.no_result')
= link_to "食品の追加", new_memo_portable_food_path(@memo)
br
- if @portable_drinks.present?
  = render "memos/portable_drink", collection: @portable_drinks
- else
  p t('.no_result')
= link_to "水分の追加", new_memo_portable_drink_path(@memo)


= button_to 'メモの削除', memo_path(@memo), method: :delete